<div class="modal fade" id="order-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="order-form" data-order="true" id="feedback_form">
                <div class="form-title">{{'Оставить заявку на заказ'|_}}</div>
                <div class="input-group">
                    <input class="form-control button-border inputPhone" type="text" data-phone="true" placeholder="+7" name="phone">
                    <input class="form-control button-border inputName" type="text" placeholder="{{'Как к вам обращаться?'|_}}" name="name">
                </div>
                <button class="button-border" type="submit">{{'Оставить завку'|_}}</button>
                <div class="attention">
                    {{'Нажимая кнопку “Оставить заявку”, вы соглашаетесь'|_}} <a href="#">{{'с политикой конфиденциальности'|_}}</a>
                </div>
            </form>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
    </div>
</div>