.basket {
    position: absolute;
    right: 100px;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 50;
    .counter {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -3px;
        bottom: -3px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-weight: 700;
        background-color: #1769FF;
    }
}


@media (max-width: 1199px) {
    .basket {
        right: 24px;
        bottom: 24px;
    }
}